@model Lab1.ViewModels.OrderViewModel

@{
    ViewData["Title"] = "OrderSuccess";
}

<h1>Order Success</h1>

<a href="@Url.Action("ViewOrder","Order")">
    <input type="button" value="Click here to view your order" />
</a>




