@model Lab1.ViewModels.OrderViewModel

@{
    ViewData["Title"] = "OrderSuccess";
}

<h1>Order Success</h1>

<h1>Click here to view order</h1>
<a class="btn btn-success float-right" asp-controller="Order" asp-action="ViewOrder">View Order</a>


